langgraph>=0.2.0
langchain>=0.3.0
langchain-openai>=0.2.0
langchain-community>=0.3.0
langchain-text-splitters>=0.3.0
faiss-cpu>=1.8.0
pypdf>=4.0.0
tiktoken>=0.7.0
beautifulsoup4
python-dotenv
gradio
PyPDF2
langchain_google_genai
langchain-huggingface 
sentence-transformers
fastapi
uvicorn
python-multipart
requests
